<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <main id="main" class="max-content">
      <header>
        <div class="sticky">
          <dsh-logo></dsh-logo>
        </div>
        <h1>damato<wbr>.design</h1>
        <h2>Where design <strong>stops being polite</strong>
        <br/>and <strong>starts getting usable</strong></h2>
      </header>
      <section id="content">
        {% include "section.njk" %}
      </section>
      <footer>
        <site-attribution></site-attribution>
      </footer>
    </main>
  </body>
</html>