<p>The is the home of <a href="https://donnie.damato.design">Donnie</a> &amp; <a href="https://jennifer.damato.design">Jennifer (Ip)</a> D'Amato who both practice in the field of <a href="https://system.damato.design">design systems</a> professionally.</p>
<p>Read <a href="https://blog.damato.design">the blog</a> or <a href="https://twitter.com/designsyshouse">tl;dr</a></p>